
#container {
  width: auto;
  padding: 0;
  height: 100vh;
  overflow: auto;
}


#title {
  color: rgb(255, 255, 255);
  display: flex;
  font-size: 6.5vw;
  justify-content: center;
  text-align: center;
  margin:0;
  padding: 0 1.5rem;
  text-shadow: 
  -1px -1px 0 #000,  
   1px -1px 0 #000,
  -1px  1px 0 #000,
   1px  1px 0 #000;
  
}



Header {
  background-image: url('../assets/banner-3-1920w.webp');
  background-size: cover;
  background-position: center; 
  height: 120px;
}

#items {
  display: flex;
  justify-content: space-evenly;
  min-width: 100px;
  text-align: center;
  
}

#addItemForm {
  max-width: 40%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10PX;
  
}

.formInput {
  width: 75%;
  margin: 10px auto;
}

#quantity {
  width: 5rem;
  margin: 10px
}

#unit {
 width: 8rem;
 margin: 10px
}

#recipes {
  text-align: center;
  border: 3px solid yellow;
}

#submit {
  width: 30%;
  padding: 5px;
  color: green;
}

#itemList {
  display: flex;
  flex-direction: column;
}

.item {
  display: flex;
  align-items: center;
}

.item p {
  margin-right: 30px;
}

@media only screen and (max-width: 800px) {
  #title {
    font-size: 10vw;
  }
}
