
#container {
  width: auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas: 
  'header header header'
  'items recipe addItems';
  gap: 5px;
}


h1 {
  color: rgb(0, 255, 8);
  display: flex;
  justify-content: center;
  text-align: center;
  
}



Header {
  grid-area: header;
  border: 3px solid green;
}

#items {
  grid-area: items;
  border: 3px solid blue;
  min-width: 100px;
  text-align: center;
}

#addItemForm {
  grid-area: addItems;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 3px solid red;
  padding: 10PX;
}

.formInput {
  width: 75%;
  margin: 10px auto;
}

#quantity {
  width: 2rem;
  margin: 10px
}

#unit {
 width: 8rem;
 margin: 10px
}

#recipes {
  text-align: center;
  border: 3px solid yellow;
}

#submit {
  width: 30%;
  padding: 5px;
}

